<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Product Maintenance</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="styles.css" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="row" style="width: 50%;">
			<center>
				<h1>Product Maintenace</h1>
				<a href="/display" style="color: blue; font-size: 30px">View Products</a>
			</center>
		</div>
</body>

</html>